.login {
          display: grid;
          grid-template-columns: 1fr 1fr;
          min-height: 100vh;
          gap: 2rem;
        }
        
        .login::before {
          display: block;
          content: "";
          /* background: url("../../../../IMG/imagensfeed/gato-10.jpg") no-repeat center
            center; */
          background-size: cover;
        }
        
        @media (max-width: 40rem) {
          .login {
            grid-template-columns: 1fr;
          }
          .login::before {
            display: none;
          }
          .forms {
            max-width: 100%;
          }
        }
        