.divHeader {
          display: flex;
          justify-content: center;
        }
        .header {
          margin-top: 1rem;
        
          box-shadow: #101010cc 0px 1px 6px;
          border-radius: 10px;
          position: fixed;
          width: 50%;
          z-index: 100;
          background: #6f43c0;
          top: 0px;
        }
        .header:hover {
          border-bottom: 2px solid aliceblue;
          box-shadow: 0px 8px 2b px -10px aliceblue;
        }
        .nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 4rem;
        }
        .logo {
          padding: 0.7rem 0;
        }
        .login {
          display: flex;
          align-items: center;
          color: #f5f5f5fd;
        }
        