.headerNaV {
          display: flex;
          grid-template-columns: repeat(5, 1fr);
          gap: 1rem;
        }
        /* .headerNaV {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1rem;
        } */
        
        .headerNaV a,
        .headerNaV button {
          color: #f0f8ff;
          background: #6f43c086;
          font-weight: bold;
          border-radius: 0.5rem;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid transparent;
          transition: 0.2s;
          cursor: pointer;
        }
        .btnImg {
          width: 20px;
          width: 20px;
          padding: 2px;
        }
        .headerNaV a:hover,
        .headerNaV a:focus,
        .headerNaV button:hover,
        .headerNaV button:focus { 
          color: #f0f8ff;
          background: #563591;
          box-shadow: 0 0 10px 0 rgba(66, 66, 66, 0.854);
          border-color: rgba(240, 248, 255, 0.499);
          outline: none;
        }
        .headerNaV a:global(.active) {
          background: aliceblue;
          box-shadow: 0px 0px 3px 0 #f0f8ff;
        }
        .headerNaV a:global(.active) svg > * {
          fill: #7543c0;
        }
        